@*@page*@
@model TransferBankInformation.ViewModels.SupplierBankInfoModal;
@{
}

<form id="create-form" method="post">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Banco</label>
            <select class="form-control" name="Banco" asp-items="@Model.Bancos" asp-for="@Model.Banco" id="banco"></select>

        </div>

        <div class="form-group col-md-3">
            <label>Principal</label>
            <input type="text" autocomplete="off" asp-for="@Model.Principal" name="Principal" class="form-control" id="principal" />
            <span asp-validation-for="@Model.Principal" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Secundaria</label>
            <input type="text" autocomplete="off" asp-for="@Model.Secundaria" name="Secundaria" class="form-control" id="secundaria" />
            <span asp-validation-for="@Model.Secundaria" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Moneda</label>
            <select class="form-control" name="Moneda" asp-items="@Model.Monedas" asp-for="@Model.Moneda" id="moneda"></select>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Código ABA</label>
            <input type="text" autocomplete="off" asp-for="@Model.CodigoAba" name="CodigoAba" class="form-control" id="codigoaba" />
            <span asp-validation-for="@Model.CodigoAba" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Código Swift</label>
            <input type="text" autocomplete="off" asp-for="@Model.CodigoSwift" name="CodigoSwift" class="form-control" id="codigoswift" />
            <span asp-validation-for="@Model.CodigoSwift" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Auxiliar</label>
            <input type="text" autocomplete="off" asp-for="@Model.Auxiliar" name="Auxiliar" class="form-control" id="auxiliar" />
            <span asp-validation-for="@Model.Auxiliar" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Dirección</label>
        <input type="text" autocomplete="off" asp-for="@Model.Direccion" name="Direccion" class="form-control" id="direccion">
        <span asp-validation-for="@Model.Direccion" class="text-danger"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <input type="hidden" autocomplete="off" asp-for="@Model.Cedula" name="Cedula" class="form-control" id="cedula">
        </div>
        <div class="form-group col-md-3">
           <input type="hidden" autocomplete="off" asp-for="@Model.NombreComercial" name="NombreComercial" class="form-control" id="nombrecomercial">
        </div>
        <div class="form-group col-md-3">
            <input type="hidden" autocomplete="off" asp-for="@Model.NombreRegistral" name="NombreRegistral" class="form-control" id="nombreregistral">
        </div>

    </div>

  


</form>



@section Scripts
{


    <script>

        $(document).ready(function () {

            $("#mytableexample").on("click", "td", function (e) {
                var cedula = $(this).prevAll('td:last').text();
            
                try {
                    $.ajax({
                        type: 'GET',
                         //url: "http://localhost:56091/api/BankInfo/GetbyID/" + cedula,
                       url: "http://172.23.24.117/TransferBankInformation/api/BankInfo/" + cedula,
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res) {
                                $("#cedula").val(res.cedula)
                                $("#nombreregistral").val(res.nombreRegistral)
                                $("#nombrecomercial").val(res.nombreComercial)
                                $("#banco").val(res.banco)
                                $("#moneda").val(res.moneda)
                                $("#codigoaba").val(res.codigoAba)
                                $("#codigoswift").val(res.codigoSwift)
                                $("#direccion").val(res.direccion)
                                $("#principal").val(res.principal)
                                $("#secundaria").val(res.secundaria)
                                $("#auxiliar").val(res.auxiliar)
                            }
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                } catch (ex) {
                    console.log(ex)
                }

                $("#cedula").val(cedula)
            });


            $("#save").click(function () {

                var form = {

                    cedula: $("#cedula").val(),
                    nombreregistral: $("#nombreregistral").val(),
                    nombrecomercial: $("#nombrecomercial").val(),
                    banco: $("#banco").val(),
                    moneda: $("#moneda").val(),
                    codigoaba: $("#codigoaba").val(),
                    codigoswift: $("#codigoswift").val(),
                    direccion: $("#direccion").val(),
                    principal: $("#principal").val(),
                    secundaria: $("#secundaria").val(),
                    auxiliar: $("#auxiliar").val(),
                }

                try {
                    $.ajax({
                        type: 'POST',
                         //url: "http://localhost:56091/api/BankInfo",
                        url: "http://172.23.24.117/TransferBankInformation/api/BankInfo/",
                        data: JSON.stringify(form),
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {

                            alertify.success('Ok');
                            location.reload();
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                } catch (ex) {
                    console.log(ex)
                }

            });

            $(".editbtn").on("click", function () {
                //$(".editbtn").click(function () {
                var cedula = $(this).attr("param-cedula");
                console.log("SEARCHING: " + cedula);

                try {
                    $.ajax({
                        type: 'GET',
                         //url: "http://localhost:56091/api/BankInfo/" + cedula,
                        url: "http://172.23.24.117/TransferBankInformation/api/BankInfo/" + cedula,
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res) {
                                $("#cedula").val(res.cedula)
                                $("#nombreregistral").val(res.nombreRegistral)
                                $("#nombrecomercial").val(res.nombreComercial)
                                $("#banco").val(res.banco)
                                $("#moneda").val(res.moneda)
                                $("#codigoaba").val(res.codigoAba)
                                $("#codigoswift").val(res.codigoSwift)
                                $("#direccion").val(res.direccion)
                                $("#principal").val(res.principal)
                                $("#secundaria").val(res.secundaria)
                                $("#auxiliar").val(res.auxiliar)
                            }
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                } catch (ex) {
                    console.log(ex)
                }
            });
            $("#newBtn").click(function () {

                $("#cedula").val('')
                $("#nombreregistral").val('')
                $("#nombrecomercial").val('')
                $("#banco").val('')
                $("#moneda").val('')
                $("#codigoaba").val('')
                $("#codigoswift").val('')
                $("#direccion").val('')
                $("#principal").val('')
                $("#secundaria").val('')
                $("#auxiliar").val('')

            });

            //$("#exampleModal").modal('hide');
            $('#customerTable').DataTable();
        });
    </script>

}
