@page
@model TransferBankInformation.Pages.SupplierBank.IndexModel
@{
}
<div class="text-center">
    <h1>Información Bancaria Proveedores</h1>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
               
                <h5 class="modal-title" id="exampleModalLabel">Información Bancaria</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @Html.Partial("CreateOrEdit", Model.SupplierBankInfoItem)
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="save">Guardar</button>
                </div>
                <div>

                    <table class="table" id="supplierTable">

                        <thead>
                            <tr>
                                @*<th>
                            @Html.DisplayName("Cédula")
                        </th>
                        <th>
                            @Html.DisplayName("Nombre Registral")
                        </th>*@
                                <th>
                                    @Html.DisplayName("Banco")
                                </th>
                                <th>
                                    @Html.DisplayName("Moneda")
                                </th>
                                <th>
                                    @Html.DisplayName("Principal")
                                </th>
                                <th>
                                    @Html.DisplayName("Secundaria")
                                </th>
                                <th>
                                    @Html.DisplayName("Código Swift")
                                </th>
                                <th>
                                    @Html.DisplayName("Código ABA")
                                </th>
                                <th>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SupplierBankInfo)
                            {
                                <tr>
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreRegistral)
                            </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Banco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Moneda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Principal)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Secundaria)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodigoSwift)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodigoAba)
                                    </td>
                                    <td>
                                        @*<a asp-route-cedula="@item.Cedula"><i class="fas fa-edit"></i></a> *@

                                        <a asp-route-cedula="@item.Cedula" class="editbtn" param-cedula="@item.Cedula" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit"></i></a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

            </div>
           
        </div>
    </div>
</div>


<div class="card">
      <div id="viewAll" class="card-body table-responsive">
        <table class="table table-bordered" id="customerTable" >

            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Cédula")
                    </th>
                    <th>
                        @Html.DisplayName("Nombre")
                    </th>
                    <th>
                        @Html.DisplayName("Pais")
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SupplierInfo)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais)
                    </td>
                   
                    <td>
                        @*<a asp-route-cedula="@item.Cedula"><i class="fas fa-edit"></i></a>*@

                        <a asp-route-cedula="@item.Cedula" ><i class="fas fa-eye"></i></a>
                    

                    </td>
                    <td>
                        
                        <a class="editbtn" param-cedula="@item.Cedula" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit"></i></a>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@section Scripts
{


    <script>
            $(document).ready(function () {
            

            $("#save").click(function () {

                var form = {

                    cedula: $("#cedula").val(),
                    nombreregistral: $("#nombreregistral").val(),
                    nombrecomercial: $("#nombrecomercial").val(),
                    banco: $("#banco").val(),
                    moneda: $("#moneda").val(),
                    codigoaba: $("#codigoaba").val(),
                    codigoswift: $("#codigoswift").val(),
                    direccion: $("#direccion").val(),
                    principal: $("#principal").val(),
                    secundaria: $("#secundaria").val(),
                    auxiliar: $("#auxiliar").val(),
                }

                try {
                    $.ajax({
                        type: 'POST',
                        url: "http://localhost:56091/api/BankInfo",
                        //url: "http://172.23.24.117/TransferBankInformation/api/BankInfo/",
                        data: JSON.stringify(form),
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                          
                            alertify.success('Ok');
                            location.reload();
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                } catch (ex) {
                    console.log(ex)
                }
                
            });

            $(".editbtn").on("click", function () {
            //$(".editbtn").click(function () {
                var cedula = $(this).attr("param-cedula");
                var codigoswift = $(this).attr("param-codigoswift");
                var codigoaba = $(this).attr("param-codigoaba");
                var principal = $(this).attr("param-principal");
                var secundaria = $(this).attr("param-secundaria");
                console.log("SEARCHING: " + cedula + '   ' + codigoswift + '   ' + codigoaba + '   ' + principal + '   ' + secundaria);

                try {
                    $.ajax({
                        type: 'GET',
                        url: "http://localhost:56091/api/BankInfo/" + cedula,
                        //url: "http://172.23.24.117/TransferBankInformation/api/BankInfo/" + cedula,
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res) {
                                 $("#cedula").val(res.cedula)
                                 $("#nombreregistral").val(res.nombreRegistral)
                                 $("#nombrecomercial").val(res.nombreComercial)
                                 $("#banco").val(res.banco)
                                 $("#moneda").val(res.moneda)
                                 $("#codigoaba").val(res.codigoAba)
                                 $("#codigoswift").val(res.codigoSwift)
                                 $("#direccion").val(res.direccion)
                                 $("#principal").val(res.principal)
                                 $("#secundaria").val(res.secundaria)
                                 $("#auxiliar").val(res.auxiliar)
                            }
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                } catch (ex) {
                    console.log(ex)
                }
            });

            $("#newBtn").click(function () {
               
                $("#cedula").val('')
                $("#nombreregistral").val('')
                $("#nombrecomercial").val('')
                $("#banco").val('')
                $("#moneda").val('')
                $("#codigoaba").val('')
                $("#codigoswift").val('')
                $("#direccion").val('')
                $("#principal").val('')
                $("#secundaria").val('')
                $("#auxiliar").val('')
           
            });
            
        
            $('#customerTable').DataTable();



        });
    </script>

}
